<!DOCTYPE html>
<html>
<head>
<title>Webinos Travel</title>
<link rel="stylesheet" href="../../css/ce.css">
<link rel="stylesheet" href="../../css/jquery-ui_css/redmond/jquery-ui-1.8.18.custom.css">
<link href='http://fonts.googleapis.com/css?family=Mate+SC' rel='stylesheet' type='text/css'>
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=0,width=device-width" />
</head>
<body class="nav addedit">
	<header>
		<nav>
		<ul class="four">
		<li class="travel current"><a href="index.html"><span>Travel</span></a></li>
		<li class="poi"><a href="../poi/index.html"><span>POI</span></a></li>
		<!--<li class="users"><a href="../users/index.html"><span>Users</span></a></li>-->
		<li class="location"><a href="../location/index.html"><span>Location</span></a></li>
		<li class="profilemenu">
			<a href="#"><span>Profile</span></a>
			<ul id="profilemenu">
				<!--<li><a href="#">My profile</a></li>
				<li><a href="#">Preferences</a></li>
				<li><a href="#">Logout</a></li>-->
				<li><a href="#" rel="#syncoverlay">Sync Devices</a></li>
			</ul>
		</li>
		</ul>
		</nav>
	</header>

<div id="content">

	<button id="step1btn" class="leftcolumn equal">Change dates</button>
	<div class="req leftcolumn equal addtravel" id="step1">
		<form>
		<div>
		<h3 id="trvlaction">Add New Travel</h3>
			<label for="travelname">Travel Name</label>
			<input type="text" id="travelname">
		</div>
		<hr>
		<div>
		<h3>Dates</h3>
			<div class="datepickstart"><span class="label">Start</span>
				<input type="text" id="datestart" readonly='true'>
				<input type="hidden" id="datestarthid">
			</div>
			<div class="datepickend"><span class="label">End</span>
				<input type="text" id="dateend" readonly='true'>
				<input type="hidden" id="dateendhid">
			</div>
			<input type="hidden" id="trusers">
			<div id="trdates">
				<!--pseudo-DB for POI dates-->
			</div>
			<div id="trpois">
				<!--specific poi elements will go here-->
			</div>
		</div>
		</form>
	</div>

	<button id="step2btn" class="leftcolumn equal">Add POIs</button>
	<div id="current" class="hidden">Initializing...</div>
	<div id="map-holder" class="rightcolumnmap nosubmenu addtravelmap">
		<div id="map_canvas"></div>
	</div>
	<div class="leftcolumn equal" id="step2"> <!--phase two: leftcolumn-->
		<h3>POIs</h3>
		<fieldset class="search-box2">
			<label for="date">Search POIs</label>
			<div>
				<input type="text" id="searchpoi">
			</div>
			<button type="button"></button>
		</fieldset>
		<hr>
		<ul class="poithumbs" id="poilist">
			<!--<li><h4 class="date">12.12.2012</h4></li>
			<li>
				<img src="../img/samples/poi1.jpg">
				<div>
					<div class="datearrows">
						<p class="ardelete">X</p>
						<p class="arup">\u2191</p>
						<p class="ardown">\u2193</p>
					</div>
					<h4>Dynamically Added POI</h4>
					<p>Country, city</p>
					<textarea class="time">09:00 &mdash; 12:00</textarea>
				</div>
			</li>-->
		</ul>
	</div>

	<!--<button id="step3btn">Add Users</button>
	<div class="rightcolumn equal temporarydisabled" id="step3">
		<h3>Fellow travelers</h3>
		<fieldset>
			<label for="friends">Add a friend to the travel</label>
			<div>
				<input type="text" id="friends">
				<input type="hidden" id="friends-id">
				<input type="hidden" id="friends-photo">
			</div>
			<button type="button" id="addfriend">+</button>
		</fieldset>
		<hr>
		<ul class="usrlstimg" id="friendslist">
			<li><img src="../img/contact.png"><h4>User Name</h4></li>
		</ul>
	</div>-->

	<button id="submit" class="leftcolumn equal">Create Travel</button>
</div>

<div class="overlay" id="add">
	<h3>Add POI to Travel</h3>
	<hr>
	<form>
		<ul id="poicheck" class="radio">
		</ul>
	</form>
	<div class="topspace">
		<a class="button inline close" id="addPOIlistbtn">Add</a>
		<a class="button inline close">Cancel</a>
	</div>
</div>
<script type="text/javascript" src="../../../general/js/webinos.js"></script>
<script type="text/javascript" src="../../../general/js/jquery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="../../../general/js/jquery/jquery.tools.min.js"></script>

<script type="text/javascript" src="../../../general/js/jquery/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="../../../general/js/essentials.js"></script>
<script type="text/javascript" src="../../../general/js/sync.js"></script>
<script type="text/javascript" src="../../js/travel.js"></script>
<script type="text/javascript" src="../../js/geo.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="../../js/infobox.js"></script>
<!-- <script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script> -->
<script type="text/javascript" src="../../js/map.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	currentPage = 'addEditTravel';
	mrksPoi = new Array();
	if (window.innerWidth < 1200) {
		setMapHeight(null, '30%');
	} else {
		setMapHeight();
		setMapWidth();

		var resizeForOverflow = document.getElementById("poilist");
		resizeForOverflow.style.height = window.innerHeight - document.getElementById("step1").offsetHeight - 100 +"px";
		resizeForOverflow.style.overflow = "auto";
	}
	init_map();
	//initialize_geolocation();

	wt.getAllPOIs();
	TravelGeneral.PageInit();
	TravelEditor.PageInit();

	tsearch = new TravelSearch('searchpoi');
});
</script>
</body>
</html>
